Aluna: Tong Zhou 190038764

In [50]:
!pip install nltk
!pip install plotly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)

In [72]:
import pandas as pd
import re
import nltk

nltk.download('stopwords')
stop_list_nltk = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Stop words

In [121]:
stop_list_nltk.extend(('RT','and', 'or', 'the', 'is', 'on', 'in', 'rt',' ',''))

In [75]:
emotion = {}
emotion[':)'] = 'happy'
emotion[':('] = 'sad'
emotion[':D'] = 'laugh'
emotion['><'] = 'blush'
emotion['<3'] = 'cute'
emotion['=)'] = 'smile'

In [ ]:
stop_list_nltk

In [150]:
dataframe = pd.read_csv('https://raw.githubusercontent.com/Tong00020/PLN---2022/main/Atividade%202/twitter-2013train-A.txt', sep ='\t', encoding = 'utf-8', names=['id','polarity','text'])
dataframe

,id,polarity,text
0,264183816548130816,positive,Gas by my house hit $3.39!!!! I\u2019m going t...
1,263405084770172928,negative,Theo Walcott is still shit\u002c watch Rafa an...
2,262163168678248449,negative,its not that I\u2019m a GSP fan\u002c i just h...
3,264249301910310912,negative,Iranian general says Israel\u2019s Iron Dome c...
4,262682041215234048,neutral,Tehran\u002c Mon Amour: Obama Tried to Establi...
...,...,...,...
9679,103158179306807296,positive,RT @MNFootNg It's monday and Monday Night Foot...
9680,103157324096618497,positive,All I know is the road for that Lomardi start ...
9681,100259220338905089,neutral,"All Blue and White fam, we r meeting at Golden..."
9682,104230318525001729,positive,@DariusButler28 Have a great game agaist Tam...
9683,100461938533863424,negative,I'm pisseeedddd that I missed Kid Cudi's show ...

In [148]:
text_df = dataframe['text']

Tokenização

In [133]:
def tokenizacao(text):
  text = text.lower()
  tokens= re.split(r'[\s!$@#,.\\\|?;%_:^´`~-]+',text)

  novel_tokens = []

  for t in tokens:
      if t not in stop_list_nltk:
          novel_tokens.append(t)

  stemmer = PorterStemmer()
  result = [stemmer.stem(t) for t in novel_tokens]

  return result

In [144]:
from nltk.stem.porter import* 
tokens_final =[]


for t in range(len(text_df)):
    if text_df[t] in emotion:
        text_df[t] = emotion[text_df[t]]

for token_final in text_df:
  tokens_final.append(tokenizacao(token_final))

In [ ]:
tokens_final

In [135]:
data_vocab = pd.DataFrame(tokens_final)
data_vocab

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,ga,hous,hit,3,39,u2019m,go,chapel,hill,sat,...,None,None,None,None,None,None,None,None,None,None
1,theo,walcott,still,shit,u002c,watch,rafa,johnni,deal,saturday,...,None,None,None,None,None,None,None,None,None,None
2,u2019m,gsp,fan,u002c,hate,nick,diaz,u2019t,wait,februari,...,None,None,None,None,None,None,None,None,None,None
3,iranian,gener,say,israel,u2019,iron,dome,u2019t,deal,missil,...,None,None,None,None,None,None,None,None,None,None
4,tehran,u002c,mon,amour,obama,tri,establish,tie,mullah,http,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9679,mnfootng,monday,monday,night,footbal,mind,love,footbal,mnfootng,None,...,None,None,None,None,None,None,None,None,None,None
9680,know,road,lomardi,start,tonight,set,record,pre,season,mnf,...,None,None,None,None,None,None,None,None,None,None
9681,blue,white,fam,r,meet,golden,corral,dinner,tonight,6pm,...,None,None,None,None,None,None,None,None,None,None
9682,dariusbutler28,great,game,agaist,tampa,bay,tonight,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9683,i'm,pisseeedddd,miss,kid,cudi',show,dalla,trend,worldwid,night,...,None,None,None,None,None,None,None,None,None,None

In [146]:
result = pd.DataFrame()

result['Id'] = dataframe['id']
result['Polarity'] = dataframe['polarity']
result['Text'] = tokens_final

result

,Id,Polarity,Text
0,264183816548130816,positive,"[ga, hous, hit, 3, 39, u2019m, go, chapel, hil..."
1,263405084770172928,negative,"[theo, walcott, still, shit, u002c, watch, raf..."
2,262163168678248449,negative,"[u2019m, gsp, fan, u002c, hate, nick, diaz, u2..."
3,264249301910310912,negative,"[iranian, gener, say, israel, u2019, iron, dom..."
4,262682041215234048,neutral,"[tehran, u002c, mon, amour, obama, tri, establ..."
...,...,...,...
9679,103158179306807296,positive,"[mnfootng, monday, monday, night, footbal, min..."
9680,103157324096618497,positive,"[know, road, lomardi, start, tonight, set, rec..."
9681,100259220338905089,neutral,"[blue, white, fam, r, meet, golden, corral, di..."
9682,104230318525001729,positive,"[dariusbutler28, great, game, agaist, tampa, b..."
9683,100461938533863424,negative,"[i'm, pisseeedddd, miss, kid, cudi', show, dal..."